body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
  }
  
  #map {
    height: 400px;
    width: 60%;
  }
  
  #doctors-list {
    width: 40%;
    padding: 10px;
  }
  
  .doctor-item {
    margin-bottom: 10px;
  }